---
import { getLangFromUrl } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getPostsByLocale } from "~/utils"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}

const lang = getLangFromUrl(Astro.url)
const posts = await getPostsByLocale(lang)
const tags = [...new Set(posts.map((post: any) => post.data.tags).flat())]
---

<MainLayout>
  <div>
    {
      tags.map((tag) => (
        <span class="mx-4">
          <a href={`/${lang}/tags/${tag}`}>{tag}</a>
        </span>
      ))
    }
  </div>
</MainLayout>
