---
import Twikoo from "~/components/react/comment/twikoo.tsx"
import { common } from "~/config"
import "~/styles/comment.css"
---

<div class="relative z-10 my-10">
  {
    common.comments.enabled && common.comments.twikoo.enabled && (
      <Twikoo client:only="react" />
    )
  }
</div>
