---

---

<div class="my-10 flex flex-col md:flex-row">
  <p>
    &copy; {new Date().getFullYear()}
  </p>
  <p class="mx-1 hidden md:block">|</p>
  <p class="mr-1">Designed By</p>
  <a href="https://sunguoqi.com" class="text-blue-500 hover:underline">
    Guoqi Sun
  </a>
  <p class="mx-1 hidden md:block">|</p>
  <p class="mr-1">Powered By</p>
  <a
    href="https://github.com/sun0225SUN/astro-air"
    class="text-blue-500 hover:underline"
  >
    Astro Air
  </a>
</div>
