<footer class="my-10 flex flex-wrap items-center gap-1">
  <p>
    &copy; {new Date().getFullYear()}
  </p>
  <p class="mx-1">|</p>
  <p>Designed By</p>
  <a href="https://sunguoqi.com" class="text-blue-500 hover:underline">
    Guoqi Sun
  </a>
  <p class="mx-1">|</p>
  <p>Powered By</p>
  <a
    href="https://github.com/sun0225SUN/astro-air"
    class="text-blue-500 hover:underline"
  >
    Astro Air
  </a>
</footer>
