---
const currentYear = new Date().getFullYear()
---

<footer class="my-10 flex flex-wrap items-center gap-1">
  <p>&copy; {currentYear}</p>

  {
    [
      { text: "Designed By", link: "https://sunguoqi.com", label: "Guoqi Sun" },
      {
        text: "Powered By",
        link: "https://github.com/sun0225SUN/astro-air",
        label: "Astro Air",
      },
    ].map((item, index) => (
      <>
        {index > 0 && <p class="mx-1">|</p>}
        <p>{item.text}</p>
        <a
          href={item.link}
          class="text-blue-500 transition-colors duration-200 hover:text-blue-700"
        >
          {item.label}
        </a>
      </>
    ))
  }
</footer>
