---
import { getLocale } from "astro-i18n-aut"
import { Rss } from "lucide-react"
import ThemeToggle from "~/components/astro/theme-toggle.astro"
import { LanguageToggle } from "~/components/react/language-toggle"
import { defaultLanguage, en, zh } from "~/config"

const locale = getLocale(Astro.url)
const config = locale === "zh" ? zh : en
---

<header class="flex h-24 w-full items-center justify-between">
  <a
    href={defaultLanguage === "zh"
      ? locale === "zh"
        ? "/"
        : "/en"
      : locale === "en"
        ? "/"
        : "/zh"}
  >
    <div class="text-2xl font-semibold">{config.siteName}</div>
  </a>
  <div class="flex items-center gap-6">
    {
      config.rss && (
        <a href="/atom.xml" target="_blank">
          <Rss />
        </a>
      )
    }
    {
      config.social.map((social) => (
        <a href={social.link} target="_blank" class="hidden md:block">
          <social.icon />
        </a>
      ))
    }

    <LanguageToggle currentLocale={locale} client:load />
    <ThemeToggle />
  </div>
</header>
