---
import IntroContentEn from "~/config/en/intro.mdx"
import IntroContentZh from "~/config/zh/intro.mdx"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const IntroContent = lang === "zh" ? IntroContentZh : IntroContentEn
---

<div class="relative z-10 my-10">
  <IntroContent />
</div>
