---
import { Moon, Sun } from "lucide-react"
---

<button id="themeToggle">
  <Sun className="dark:hidden" />
  <Moon className="hidden dark:block" />
</button>

<script>
  // update theme
  const updateTheme = () => {
    const isDark = document.documentElement.classList.contains("dark")
    localStorage.setItem("theme", isDark ? "dark" : "light")
  }

  // toggle theme
  const handleToggleClick = () => {
    const element = document.documentElement

    if (!document.startViewTransition) {
      element.classList.toggle("dark")
      updateTheme()
      return
    }

    document.startViewTransition(() => {
      element.classList.toggle("dark")
      updateTheme()
    })
  }

  document
    .getElementById("themeToggle")!
    .addEventListener("click", handleToggleClick)
</script>
