---
import HomeLayout from "~/layouts/home.astro"
import { type Post } from "~/types/post"
import { formatDate, getPosts } from "~/utils"

const posts = await getPosts()

const postsByYear = posts.reduce(
  (acc: Record<string, Post[]>, post: any) => {
    const year = new Date(post.data.pubDate).getFullYear().toString()
    if (!acc[year]) {
      acc[year] = []
    }
    acc[year].push(post)
    return acc
  },
  {} as Record<string, Post[]>,
)

const years = Object.keys(postsByYear).sort((a, b) => Number(b) - Number(a))
---

<HomeLayout>
  <div class="space-y-8">
    {
      years.map((year) => (
        <div class="year-group">
          <h2 class="mb-4 text-2xl font-bold">{year}</h2>
          <div class="space-y-2">
            {postsByYear[year].map((post: any) => (
              <a href={`/posts/${post.slug}/`}>
                <div class="my-2 flex text-lg">
                  <p class="flex w-36 flex-shrink-0 truncate text-gray-500 dark:text-gray-400">
                    <time>{formatDate(post.data.pubDate)}</time>
                  </p>
                  <p class="line-clamp-2">{post.data.title}</p>
                </div>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</HomeLayout>
