---
import { Rss } from "lucide-react"
import { site } from "~/config"
import ThemeToggle from "./theme-toggle"
---

<div class="flex h-20 w-full items-center justify-between">
  <a href="/">
    <div class="text-xl font-semibold">{site.name}</div>
  </a>
  <div class="flex items-center gap-3">
    <a href="/atom.xml">
      <Rss
        client:only="react"
        className="cursor-pointer"
        size={22}
        strokeWidth={2.25}
        absoluteStrokeWidth
      />
    </a>
    <ThemeToggle client:only="react" />
  </div>
</div>
