---
import { getPosts } from "~/utils"

interface PostProps {
  slug: string
  data: {
    title: string
    pubDate: Date
  }
}

const posts = await getPosts()
---

<div class="text-xl font-medium mb-4 md:my-8">Recent Posts</div>
{
  posts.map((post: PostProps) => (
    <a href={`/posts/${post.slug}/`}>
      <div class="flex items-center my-2 text-lg">
        <p class="w-36 truncate">
          <time>{post.data.pubDate}</time>
        </p>
        <p class="line-clamp-1">{post.data.title}</p>
      </div>
    </a>
  ))
}
