---
import AboutContentEn from "~/config/en/about.mdx"
import AboutContentZh from "~/config/zh/about.mdx"
import { getLangFromUrl } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}

const lang = getLangFromUrl(Astro.url)
const AboutContent = lang === "zh" ? AboutContentZh : AboutContentEn

const ogImage = "https://sunguoqi.com/me.png"
---

<MainLayout title="about" description="test" ogImage={ogImage}>
  <div class="prose relative z-10 dark:prose-invert">
    <AboutContent />
  </div>
</MainLayout>
