---
import Header from "~/components/astro/header.astro"
import Navigation from "~/components/astro/navigation.astro"
import BaseLayout from "./base.astro"
---

<BaseLayout>
  <main class="max-auto mb-10 w-full max-w-3xl">
    <Header />
    <Navigation />
    <slot />
  </main>
</BaseLayout>
