---
import Header from "~/components/astro/header.astro"
import Nav from "~/components/astro/nav.astro"
import BaseLayout from "./base.astro"
---

<BaseLayout>
  <main class="max-auto w-full max-w-3xl">
    <Header />
    <Nav />
    <slot />
  </main>
</BaseLayout>
